.aligncenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
p .btn {
	margin-left: 2pt;
}
.content {
	margin-top: 2pt;
	margin-bottom: 2pt;
}
.fb-comments, .fb-comments iframe[style] {width: 100% !important;}